<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebReactApp</title>
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>
<header>
   
</header>
<div class="container">
     @RenderBody()
</div>
<script src="/bundle.js" asp-append-version="true"></script>
<script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
</body>
</html>